* {
  margin: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr 0.7fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr;
  grid-template-areas:
    "nav header header header"
    "nav content content content"
    "nav content content content"
    "nav content content content";
}
.content {
  grid-area: content;
  background-color: rgba(219, 207, 207, 0.459);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  display: grid;
  grid-template-columns: 1fr 1fr 0.7fr;
  grid-template-rows: 0.3fr 1fr 1fr 1fr;
  gap: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav {
  grid-area: nav;
  background-color: rgb(23, 155, 216);
  display: grid;
  grid-template-rows: 0.7fr 1fr;
}
.nav1 {
  padding: 20px;
}
.nav2 {
  padding: 20px;
}
img {
  float: left;
}
.white {
  margin-left: 40px;
  color: white;
}

.header {
  grid-area: header;
  background-color: white;
  padding: 20px;
}
.searchbar {
  width: 500px;
  height: 30px;
  background-color: rgba(219, 207, 207, 0.459);
  border-radius: 20px;
  margin-left: 50px;
  margin-top: 10px;
}

.one {
  grid-area: 2;
}
.two {
  grid-area: 2/2;
}
.three {
  grid-area: 3;
}
.four {
  grid-area: 3/2;
}
.five {
  grid-area: 4;
}
.six {
  grid-area: 4/2;
}
.seven {
  grid-area: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.eight {
  grid-area: 3;
}
.space {
  grid-area: 1 / span 3;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.5rem;
}
.trend {
  grid-area: span 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.1fr 1fr;
  padding: 20px;
}

.cards {
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cardHeading {
  grid-area: 2;
  font-size: 1.5rem;
  align-content: flex-end;
}
